*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'josefin sans',sans-serif;
    }
    body{
        background-color: black;
        max-width: 1650px; /* Set a maximum width for the body */
        margin: 0 auto; /* Center the body horizontally */
        padding: 20px; /* Add some padding around the body */
        overflow-x: hidden; /* Hide horizontal scrollbar */
        overflow-y: scroll; /* Display vertical scrollbar */
    
    }
    
    
    .hero{
        height:100vh;
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://e1.pxfuel.com/desktop-wallpaper/416/222/desktop-wallpaper-iron-man-top-ironman-backgrounds-9-iron-man-for-laptop.jpg);
        background-size: cover;
        background-position: center;
        
    }
    nav{
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
        padding-left: 10%;
        padding-right: 10%;
    } 
    
    nav ul li{
        display:inline-block;
        position: relative;
      top: 50%;
      left: 50%;
      padding: 20px 90px;
        
        
    }
    nav ul li a{
        font-weight: bold;
        font-size: 11px;
        text-align: center;
        text-shadow: 0 0 10PX rgb(131, 3, 250);
        color: rgb(131, 3, 250);
        font-family: Courier;
        top: 60%;
        left: 50%;
        position: relative;
        transform: translate(-50%, -50%);
        max-width: 900px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        box-shadow: 0 0 10px rgb(131, 3, 250,0.9);
        
    
    }
    nav ul li a:hover{
        color: #ea7c15;
        transition: .3s;
     
    }
    button{
        border: none;
        border-radius: 5px;
        background-color: rgba(83, 77, 77, 0.5);
        padding: 10px 10px;
        border-radius: 20px;
        color:rgb(220, 187, 187);
        font-weight: bold;
        font-size: 20   px;
        transition: .4s;
        position: fixed;
        top: 20px;
        right: 20px;
        box-shadow:0 0 10px rgba(170, 12, 218, 5);
       
       
    }
    button:hover{
        transform: scale(1.3);
        cursor: pointer;
        color: red;
        transition: .3s ease-in;
       
    }
    h1{
        border: none;
        text-align: center;
        margin-top: 500px;
        background-color: rgba(19, 17, 17, 0.5);
        padding: 10px 10px;
        border-radius: 20px;
        position:relative;
        color: blueviolet;
        text-shadow:0 0 10PX rgb(131, 3, 250) ;
        box-shadow: 0 0 10px rgb(131, 3, 250,0.9);
        
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
        grid-gap: 10px; /* Adjust the gap between images */
      }
      
      img {
        width: 100%; /* Adjust the image width to fit the grid */
        height: auto;
        margin-top: 100px;
      }
      pre{
        font-size: 22px;
    text-align: center;
    font-family: Courier;  
    border: none;
        text-align: center;
        margin-top: 90px;
        background-color: rgba(19, 17, 17, 0.5);
        padding: 10px 10px;
        border-radius: 20px;
        position:relative;
        color: blueviolet;
        text-shadow:0 0 10PX rgb(131, 3, 250) ;
        box-shadow: 0 0 10px rgb(131, 3, 250,0.9);
      }
      footer {
        background-color: #000000;
        color: cyan;
        padding: 20px 0;
        box-shadow: 0 0 10px cyan;
        text-shadow: 0 0 10px cyan;
      }
      
      .container {
        max-width: 960px;
        margin: 0 auto;
        text-align: center;
      }
      
      p {
        margin: 0;
      }
      



      
    